@page
@model BloodDonation.Pages.Staff.Admin.DonorsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/chartjs/Chart.css" />
    <style>
        .table {
            max-width: none;
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
</head>
<body class="with-welcome-text">

    <div class="container-scroller d-flex flex-column">


        <div class="container-fluid page-body-wrapper row col-lg-12">
            <!-- partial:partials/_sidebar.html -->


            <div class="row align-items-center justify-content-between">
                <div class="col-auto aos-init aos-animate" data-aos="fade-right" data-aos-delay="1100">
                    <a class="btn btn-primary" href="/Staff/Admin_main">
                        Home
                    </a>
                </div>
                <div class="col-auto aos-init aos-animate" data-aos="fade-left" data-aos-delay="1100">
                    <a href="./Donors" class="btn btn-secondary active d-none d-md-inline-block me-sm-20 fw-5 link-light-1">Donors</a>

                    <a href="./Teams" class="btn btn-secondary d-none d-md-inline-block me-sm-20 fw-5 link-light-1">Teams</a>

                    <a href="./Events" class="btn btn-secondary d-none d-md-inline-block me-sm-20 fw-5 link-light-1">Events</a>

                    <a href="./Staff" class="btn btn-secondary d-none d-md-inline-block me-sm-20 fw-5 link-light-1">Staff</a>
                </div>
            </div>
            <br />
            <!-- partial -->
            <div class="main-panel col-lg-12 d-flex flex-column">
                        <div class="col-lg-12">
                            <div class="home-tab">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">Donors</h4>
                                                        </div>
                                                    </div>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">ID</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Blood Type</th>
                                                                <th scope="col">Gender</th>
                                                                <th scope="col">Date Of Birth</th>
                                                                <th scope="col">Did Travel</th>
                                                                <th scope="col">weight</th>
                                                                <th scope="col">Blood Type</th>
                                                                <th scope="col">Medication History</th>
                                                                <th scope="col">Illness History</th>
                                                                <th scope="col">Last Donation</th>
                                                                <th scope="col">Phone Number</th>
                                                                <th scope="col">Eligibility Status</th>
                                                                <th scope="col">User ID</th>
                                                                <th scope="col">Team ID</th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">@Model.u.Id</th>
                                                                <td>@Model.u.Name</td>
                                                                <td>@Model.u.Email </td>
                                                                <td>@Model.u.Password</td>
                                                                <td>@Model.u.PhoneNumber</td>
                                                                <td>@Model.u.DateOfBirth</td>
                                                                <td>Otto</td>
                                                                <td>Otto</td>
                                                                <td>Otto</td>
                                                                <td>Otto</td>
                                                                <td>Otto</td>
                                                                <td>Otto</td>
                                                                <td>Otto</td>
                                                                <td>Otto</td>
                                                                <td class="">
                                                                <div class="dropdown">
                                                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                                       More
                                                                    </a>

                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                                                    </ul>
                                                                </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                      
                            </div>
                        </div>
                   
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</body>
</html>