@page
@model BloodDonation.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<style>
.gradient-custom-2 {
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

</style>

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                                </div>

                                <form asp-page-handler="ChangePassword" method="post">
                                    <p>Forgot your account’s password? Enter your email address and the new Password </p>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Email</label>
                                        <input type="email" asp-for="@Model.email" class="form-control"
                                               placeholder="Email address" />
                                        <span asp-validation-for="@Model.email" class="form-control"></span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">New Password</label>
                                        <input type="password" asp-for="@Model.newPassword" class="form-control" />
                                        <span asp-validation-for="@Model.newPassword" class="form-control"></span>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Duplicate Password</label>
                                        <input type="password" asp-for="@Model.confirmPassword" class="form-control" />
                                        <span asp-validation-for="@Model.confirmPassword" class="form-control"></span>
                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <input type="submit" value="Change" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" />
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>